.addButton {
  width: 100%;
  color: black;
  background-color: white; 
  border-radius: 5px 5px;
  /* border: 2px solid white; */
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.addButton:hover {
  color: #F2F3F4;
  background-color:#2ECC71;
}

.addButton:focus {
  outline: none;
}