.caroImageBox {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  /* background: white; */
}

.caroImage {
  opacity: 0.5;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .carouselImage {
      height: 200px;
  }
} 

.carouselBox {
  box-shadow: 0px 7px 5px -5px black;
  width: 90%;
  margin: auto;
  border: solid 3px white;
  border-radius: 15px;
}

.arrow {
  cursor:pointer;
}

.indicators {
  margin: 0 auto;
}