.table {
  width: 100%;
  margin: 10px auto;
  margin-bottom: 0;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #D50000;
}

.tableContainer {
  width: 80%;
  margin: auto;
}

.numberCol {
  color: #D50000;
  margin: 2px;
  font-weight: bold;
}