.fa-futbol {
    color: white;
}

.navbarBrand {
    display: flex;
    /* margin: 0; */
    /* padding: 0.5em; */
    /* justify-content: space-evenly; */
}
.navbarMain {
    background-color:rgba(0,0,0,0);
    width: 100%;
    margin-bottom: 40px;
} 


.toggler {
    background-color: white;
    text-align: right;
} 

.navbarNav {
    margin-top: 10px;
    text-align: right;
    list-style: none;
}

.toggler:focus {
    outline: none;
} 

.navElem {
    margin-right: 5px;
}

.navLink {
    color: white;;
    text-align: right;
 } 

 .navLink:hover {
     color: black;
     text-decoration:none;
 }
 @media screen and (max-width: 600px) {
    .navElem {
        display: none;
    }
  } 

:global .navbar-toggler {
    width: 1em;
    height: 1em;
    /* background: linear-gradient(to top, rgb(0, 0, 0), rgb(248, 255, 250)); */
}
:global .navbar-toggler-icon {
    display:none;
}

