.fa-futbol {
    color: white;
}

.navbarBrand {
    display: flex;
    /* margin: 0; */
    /* padding: 0.5em; */
    /* justify-content: space-evenly; */
}
.navbarMain {
    background-color:rgba(0,0,0,0);
    width: 100%;
    margin-bottom: 40px;
} 

.toggler {
    border: 0;
    background-color: white;
    text-align: right;
} 


.toggler:focus {
    outline: none;
} 

.navLink {
    color: white;;
    text-align: right;
 } 

 .nav-link:hover {
     color: black;
 }
 @media screen and (max-width: 600px) {
    .navel {
        display: none;
    }
  } 
span.navbar-toggler-icon {
    height: 1em;
    width: 1em;
}