.DetailedStatsContainer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
}

.cardImage {
  display: inline-block;
  position: relative;
}

.squadNumber {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0;
  background-color: #F39C12;
  z-index: 1;
  font-weight: bold;
  line-height: 36px;
}
.image {
  border: 2px solid black;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: white;
}

.table {
  width: 100%;
}

.basicStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
}

.pieChartContainer {
  display: flex;
  justify-content: space-around;
}

.pieChart {
  width: 30%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}