.PlayerCard {
    width: 250px;
    height: auto;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: azure;
    display: block;
}

.stats {
    display: flex;
}

.stats li {
    list-style: none;
}

.image {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}