.PlayerCard {
    width: auto;
    height: auto;
    border: solid black 2px;
    border-radius: 10px;
    margin: 30px;
    background-color: azure;
    display: inline-block;
    padding: 10px;
}

.PlayerCard:hover {
    border: 2px green solid;
    background-color: rgb(192, 245, 138);
    cursor: pointer;
}

.cardImage {
    display: inline-block;
}

#squadNumber {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: #F39C12;
    z-index: 1;
    font-weight: bold;
    line-height: 36px;
}

.stats {
    display: inline-block;
    /* border: 1px solid black; */
    margin: 10px;
}

.statsCounted {
    background-color: #F39C12;
    font-weight: bold;
}

.i {
    font-size: 1.5em;
}

td {
    padding: 5px 12px;
}

.image {
    border: 2px solid black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}